# Hệ điều hành
.DS_Store
Thumbs.db

# Dành cho Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Dành cho build output
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.sbr
*.lib
*.ncb
*.sdf
*.opendb
*.tlog
*.VC.db

# Dành cho các file tạm
*.tmp
*.bak
*.old

# Dành cho các package
packages/
project.lock.json
*.nuget.props
*.nuget.targets
